* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header,
main {
    width: 960px;
    margin: auto;
}

header {
    height: 400px;
    background: rgb(25, 137, 212);
    position: relative;
    margin-top: 0;
}

header>span {
    background: rgba(2, 10, 134, 0.8);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 250px;
    left: 20px;
    font-size: 20px;
    width: 190px;
    border-radius: 5px;
    padding: 15px;
}

h1 {
    position: relative;
    top: 15px;
    text-align: center;
    color: #fff;
}

h3 {
    color: #fff;
    text-align: center;
    padding: 15px;
}

.detalle {
    margin: 30px;
    color: rgb(255, 255, 255);
}

.descripcion {
    background: rgb(0, 123, 206);
}

.skills {
    background: rgb(163, 2, 163);
}

.portafolio {
    background: rgb(201, 181, 0);
}

.clientes {
    background: rgb(13, 31, 70);
}

.contacto {
    background: rgb(2, 115, 160);
}